@page "/typeofroom/index"
@layout Layout_Owner

<div class="main-content">
    <div class="section__content section__content--p30">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Tên phòng
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Sức chứa
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody> 
                @if (typeofrooms.Count > 0)
                {
                    int stt = 1;
                    foreach (var item in typeofrooms)
                    {
                        <tr>
                            <td>
                                @stt
                                @{
                                    stt++;
                                }
                            </td>
                            <td>
                                @item.TorName
                            </td>
                            <td>
                                @hotelService.FormatVND((int)item.TorPrice) đồng/<small>đêm</small>
                            </td>
                            <td>
                                @item.TorCapacity
                            </td>
                            <td>
                                <button style="color:blue"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            </td>
                            <td>
                                <button><i class="fa fa-trash" aria-hidden="true"></i>Xem chi tiết</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    User owner = new User();
    List<Typeofroom> typeofrooms = new List<Typeofroom>();

    UserService userService = new UserService();
    TypeOfRoomService typeOfRoomService = new TypeOfRoomService();
    HotelService hotelService = new HotelService();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var phone = await sessionStorage.GetItemAsync<string>("owner_phone");
            owner = await userService.GetUser(phone);
            typeofrooms = await typeOfRoomService.GetAllTypeofroomOfOwner(owner.UserPhone);
            StateHasChanged();
        }
    }
}
